singularity.autoMounts = true    
process.executor = 'sge'
process.container = 'docker://quay.io/h3abionet_org/h3a16s-fastqc'
//process.container = '/data/projects/cbio-ws/tests/containers/quay.io_h3abionet_org_h3a16s-fastqc.img'
singularity.enabled = true
process.memory =  2.GB
process.cpus = 1
  


